/* You can add global styles to this file, and also import other style files */

/*
.mat-input-wrapper {
  width: 90% !important;
}
*/

.mat-form-field.filter-form-field,
span.filter-form-field {
  width: 49% !important;
}

.page-header.internal {
  padding: 1rem 4rem;
}
